body{

height: 100vh;
width: 100vw;
}

#btn{
    margin: 400px;
    width: 800px;
    height: auto;
    padding: 30px;
    color:blue;
    background-color: aquamarine;
    font-weight:bolder;
    font-size: 60px;
    border: none;
    border-radius: 15px;

}
#btn:hover{
    background-color: aqua;
    color: rgb(6, 91, 91);
}